*{
    margin:0px;
    padding:0px;
}
.main1{
    width:100%;
    background: linear-gradient(180deg, #A5BFF0, #E1C2F9);
}
.main2{
    width:96%;
    background-image: url("../img/격자.jpg"); 
    background-repeat:repeat;
    margin:auto;
    margin-bottom:30px;
}

header{
    width:100%;
    height:150px;
}
.img-logo{
    width:90px;
    margin:20px 0px 20px 0px;
    display:inline;
}
.ul-div{
    display: flex;
    justify-content: center;
}
.menu-text>li{
    float:left;
    color:white;
    list-style-type: none;
    padding: 5px 100px 0px 100px;
}

h1{
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer{
    width:100%;
    height:300px;
    background-color: #d3d3d3;    
}

.calendar-img {
    position: relative;
    float : center;
    width : 700px;
    height : 700px;
    padding : 20px 0;
}

.left-img, .right-img {
    width : 84px;
    height : 84px;
    top: 614px;
}

.left-img {
    float : left;
}

.right-img {
    float : right;
}

@media (min-width:768px) and (max-width:991px) {

    .main2{
        margin-bottom:20px;
    }
    
    .calendar-img{
        width:600px;
        height : 600px;
    }

    .left-img, .right-img {
        width : 45px;
        height : 45px
    }
}

@media (max-width:767px){
    .main2{
        width:94%;
        margin-bottom:16px;
    }
    header{
        width:100%;
        height:110px;
    }
    .ul-div{
        display:none;
    }
    .calendar-img{
        width:300px;
        height : 300px;
    }

    .left-img, .right-img {
        width : 30px;
        height : 30px
    }
}
