*{
    margin:0px;
    padding:0px;
}
.main1{
    width:100%;
    background: linear-gradient(180deg, #A5BFF0, #E1C2F9);
}
.main2{
    width:96%;
    background-image: url("../img/격자.jpg"); 
    background-repeat:repeat;
    margin:auto;
    margin-bottom:30px;
}
.main2-1{
    width:85%;
    margin:auto;
    margin-top:50px;
}

header{
    width:100%;
    height:150px;
}
.img-logo{
    width:90px;
    margin:20px 0px 20px 0px;
    display:inline;
}
.ul-div{
    display: flex;
    justify-content: center;
}
.menu-text>a>li{
    float:left;
    color:white;
    list-style-type: none;
    padding: 5px 100px 0px 100px;
}

.menu-text-li:after {
    display:block;
    content: '';
    border-bottom: solid 1px white;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.menu-text-li:hover{
    font-weight:bold;
    transition: 250ms;
}
.menu-text-li:hover:after { transform: scaleX(1); }
  

.community{
    font-weight:bold;
    text-decoration:underline;
}

/* #date{
    color:black;
    font-weight:bold;
    margin:20px 0 15px 0;
    display:inline-block;
} */

h1{
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer{
    width:100%;
    height:300px;
    background-color: #d3d3d3;    
}

.profil1 {
    position: absolute;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    left: 7%;
    top: 20%;
    background: #AE99BA;
}

.profil1-Name-text {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 12%;
    top: 22%;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.perfume {
    width:60px;
    margin-left : 4.9%;
    margin-top : 6.5%;
}

.profil1-perfume-text {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 10%;
    top: 30%;
    font-weight: 500;
    font-size : 18px;
    line-height: 35px;
    color: #000000;
}

.profil1-p-text {
    margin-top : 0.5%;
    font-size : 20px;
}

.profil2 {
    position: absolute;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    left: 7%;
    top: 54%;
    background: #74739B;
}

.profil2-Name-text {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 12%;
    top: 56%;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.profil2-perfume-text {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 10.7%;
    top: 65%;
    font-weight: 500;
    font-size : 18px;
    line-height: 35px;
    color: #000000;
}

.profil2-p-text {
    margin-top : 0.5%;
    font-size : 20px;
}

.profil3 {
    position: absolute;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    left: 7%;
    top: 85%;
    background: #C27D7D;
}

.profil3-Name-text {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 12%;
    top: 87%;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.profil3-perfume-text {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 10%;
    top: 94.5%;
    font-weight: 500;
    font-size : 18px;
    line-height: 35px;
    color: #000000;
}

.profil3-p-text {
    margin-top : 0.5%;
    font-size : 20px;
}

.profil1-img {
    margin-left : 5%;
}

footer{
    width:100%;
    height:300px;
    background-color: #d3d3d3;    
}
.ft-div-1{
    position:relative;
    width:100%;
    height:300px;
}
.ft-div-2{
    width:75%;
    height:150px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    justify-content: space-between;
}
.ft-3{
    width:200px;
}
.ft{
    font-weight: bold;
}

@media (min-width:768px) and (max-width:991px) {

    .main2{
        margin-bottom:20px;
    }

    .ft-div-2{
        width:80%;
        height:100px;
    }
    .ft{
        font-size:13px;
        font-weight: bold;
    }

    .profil1-Name-text {
        left : 300px;
    }
    
    .perfume {
        width:60px;
        margin-left : 4.9%;
        margin-top : 6.5%;
    }
    
    .profil1-perfume-text {
        position: absolute;
        width: 100px;
        height: 35px;
        left: 10%;
        top: 30%;
        font-weight: 500;
        font-size : 18px;
        line-height: 35px;
        color: #000000;
    }
    
    .profil1-p-text {
        margin-top : 0.5%;
        font-size : 20px;
    }
    
    .profil2-Name-text {
        position: absolute;
        width: 200px;
        height: 48px;
        left: 12%;
        top: 56%;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    
    .profil2-perfume-text {
        position: absolute;
        width: 100px;
        height: 35px;
        left: 10%;
        top: 63.5%;
        font-weight: 500;
        font-size : 18px;
        line-height: 35px;
        color: #000000;
    }
    
    .profil2-p-text {
        margin-top : 0.5%;
        font-size : 20px;
    }
    
    .profil3-Name-text {
        position: absolute;
        width: 200px;
        height: 48px;
        left: 12%;
        top: 87%;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    
    .profil3-perfume-text {
        position: absolute;
        width: 100px;
        height: 35px;
        left: 10%;
        top: 94.5%;
        font-weight: 500;
        font-size : 18px;
        line-height: 35px;
        color: #000000;
    }
    
    .profil3-p-text {
        margin-top : 0.5%;
        font-size : 20px;
    }
    
    .profil1-img {
        margin-left : 5%;
    }

}

@media (max-width:767px){
    .main2{
        margin-bottom:16px;
    }
    
    .main2{
        width:94%;
    }
    header{
        width:100%;
        height:110px;
    }
    .ul-div{
        display:none;
    }
    .ft-div-2{
        width:80%;
        height:100px;
    }
    .ft{
        font-size:10px;
        font-weight: bold;
    }
}
