*{
    margin:0px;
    padding:0px;
}
.main1{
    width:100%;
    background: linear-gradient(180deg, #A5BFF0, #E1C2F9);
}
.main2{
    width:96%;
    background-image: url("../img/격자.jpg"); 
    margin:auto;
    margin-top:-30px;
}
.main2-1{
    width:85%;
    margin:auto;
    margin-top:50px;
}
.menu-div{
    width:100%;
    height:150px;
    
}
.img-logo{ width:90px;  margin:20px 0px 20px 0px;}
.ul-div{
    display: flex;
    justify-content: center;
}
.menu-text>li{
    float:left;
    color:white;
    list-style-type: none;
    padding: 5px 100px 0px 100px;
}
.banner{
    width:100%;
    margin:10px auto;
    position:relative;
}
.banner>img{
    width:100%;
    vertical-align: middle;
}
.banner-text{
    position:absolute;
    top:40%;
    left:50%;
    width:100%;
    transform:translate(-60%,-50%);
    font-size:18px;
    text-align: right;
    color:white;
}

.perfume-img-1{
    display:inline-block;
}
.perfume-text-1{
    display:inline-block;
    margin-top:20px;
}
.diary-text-1{
    margin-top: 20px;
}
.postit-img{
    margin-top:50px;
}
.perfume-img{
    width:200px;
    height:250px;
    background-color: blue;
}
.perfume-list{
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;    
    margin-bottom:50px;
    display:inline-block;
}
.perfume-ex{
    width:200px;
}
footer{
    width:100%;
    height:300px;
    background-color: #d3d3d3;    
}





